body {
    margin: 0px 0px 10px 0px;
    background: #F5F5F5;
}
h1{
	font-family: 'Work Sans', sans-serif;
	font-size: 2.6em;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 8px;
	font-weight: 200;
}
input{
	height:  35px;
	width: 250px;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 0px;
	border: 1px solid #cccccc;
	border-right: none;
	border-radius: 5px 0px 0px 5px;
	box-shadow: inset 0px 0px 20px -2px rgba(0,0,0,0.15);
	outline: 0;
}
input:hover{
	border-color: #4d88ff;
}
button{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	height:  37px;
	width: 100px;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 200;
	color: #FFFFFF;
	background-color: #4d88ff;
	border: 1px solid #4d88ff;
	border-radius: 0px 5px 5px 0px;
	outline: 0;
	background: #7ba5fa;
	background: -moz-linear-gradient(top, #7ba5fa 0%, #1979e0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #7ba5fa), color-stop(100%, #1979e0));
	background: -webkit-linear-gradient(top, #7ba5fa 0%, #1979e0 100%);
	background: -o-linear-gradient(top, #7ba5fa 0%, #1979e0 100%);
	background: -ms-linear-gradient(top, #7ba5fa 0%, #1979e0 100%);
	background: linear-gradient(to bottom, #7ba5fa 0%, #1979e0 100%);
}
button:hover{
	background-color: #6699ff;
	border: 1px solid #6699ff;
}
button:active{
	background-color: #1a66ff;
	border: 1px solid #1a66ff;
	background: #1979e0;
	background: #1979e0;
	background: -moz-linear-gradient(top, #1979e0 0%, #5488f0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #1979e0), color-stop(100%, #5488f0));
	background: -webkit-linear-gradient(top, #1979e0 0%, #5488f0 100%);
	background: -o-linear-gradient(top, #1979e0 0%, #5488f0 100%);
	background: -ms-linear-gradient(top, #1979e0 0%, #5488f0 100%);
	background: linear-gradient(to bottom, #1979e0 0%, #5488f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1979e0', endColorstr='#5488f0', GradientType=0 );
}
input::-webkit-input-placeholder {
	font-family: 'Work Sans', sans-serif;
	font-style: italic;
}
input::-moz-placeholder {
	font-family: 'Work Sans', sans-serif;
	font-style: italic;
}
input:-ms-input-placeholder { 
	font-family: 'Work Sans', sans-serif;
	font-style: italic;
}
#submitForm{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}
.topBar{
	width: 100%;
	color: #e6e6e6;
	background: #333333;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 3px 0px;
	-webkit-box-shadow: 0px 5px 100px -15px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 5px 100px -15px rgba(0,0,0,0.55);
	box-shadow: 0px 5px 100px -15px rgba(0,0,0,0.35);
}
.external{
	text-align: center;
	margin-top: 1px;
	margin-bottom: 8px;
}
.external a{
	display: inline;
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	font-weight: 200;
	text-decoration: none;
	color:  #cccccc;
	background-color: #454545;
	margin: 0px 5px 0px 5px;
	padding: 2px 4px 2px 4px;
	border-radius: 4px;
	transition: background-color .3s;
	transition: color .3s;
}
.external a:hover{
	color: #FFFFFF;
	background-color: #0072e6;
}
.description{
	margin: 50px auto 20px auto;
	width: 85%;
	text-align: center;
	color: #4d4d4d;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.55em;
	font-weight: 200;
}
.card{
	display: none;
}
.card a:link{
	text-decoration: none;
	color: #4da6ff;
}
#website a:hover{
	color: #ff6666;
}
#email a:hover{
	color: #ff6666;
}
#holiday a:hover{
	color: #ff6666;
}
.card a:visited{
	color: #4da6ff;
}
#fullname{
	font-family: 'Work Sans', sans-serif;
	width: 530px;
	margin: auto;
	font-size: 1.3em;
	font-weight: 200;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	border: 1px solid #cccccc;
	border-radius: 7px 7px 0px 0px;
	text-align: center;
	border-bottom: none;
	background: #7ba5fa;
	background: -moz-linear-gradient(top, #7ba5fa 0%, #1979e0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #7ba5fa), color-stop(100%, #1979e0));
	background: -webkit-linear-gradient(top, #7ba5fa 0%, #1979e0 100%);
	background: -o-linear-gradient(top, #7ba5fa 0%, #1979e0 100%);
	background: -ms-linear-gradient(top, #7ba5fa 0%, #1979e0 100%);
	background: linear-gradient(to bottom, #7ba5fa 0%, #1979e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ba5fa', endColorstr='#1979e0', GradientType=0 );
}
.result{
	margin: auto;
	background-color: #FFFFFF;
	padding-top: 40px;
	width: 530px;
	height: 140px;
	border-radius: 0px 0px 7px 7px;
	border: 1px solid #cccccc;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}
.result p{
	padding-left: 50px;
}
#website{
	display: inline;
}